
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=cyrillic');
body{
   text-align: center;
   background-image:url(rain.gif);
   font-family: 'Roboto', sans-serif;
   color:whitesmoke;
}
.title{
   font-size: 24px;
   margin-top: 5%;
}
.wrapper{

   
    margin: 5%  25% 5% 25%;
    padding:10%;
}
#temp{
    font-size: 50px;
 
}
#location{
   font-style: italic;
   font-size: 20px;
}
#mood{
   font-size: 24px;
}
#desc{
   font-style: italic;
   font-size: 14px;
   margin: 10px;
}
